<ul id="lists">
  <% sort_lists do |list| %>
    <% unless list[:deleted] %>
      <li class="<%= list_class(list) %>" >
        <a href="/lists/<%= list[:id] %>">
          <h2><%= list[:name] %></h2>
          <p><%= remaining(list[:todos]) %>/<%= list[:todos].size %></p>
        </a>
      </li>
    <% end %>
  <% end %>
</ul>

<% content_for :header_links do %>
  <a href="/lists/new" class="add">Create new list</a>
<% end %>
